* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.section1 {
    background-image: url("./master-slides-02.jpg.webp");
    width: 100%;
    height: 100vh;
    background-position: center;
    object-fit: cover;
    color: white;
}

header {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 105px;
}

header * {
    cursor: pointer;
    color: white;
}


.start {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    text-align: center;
    border-radius: 8px;
    margin-top: 50px;
}

.start button {
    background-color: transparent;
    border: 0;
    outline: none;
}

.button1 h2 {
    margin-top: 4px;
}

.button1 {
    text-transform: uppercase;
}

.button1 p {
    margin-top: 4px;
    font-size: 10px;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0 88px;
}

li:hover {
    color: #ec1d25;
}

.nav {
    text-transform: uppercase;
    margin-top: 50px;
}

.icons {
    margin-top: 50px;
}

.icon {
    padding: 0 12px;
    font-size: 19px;
}

.icon:hover {
    color: #ec1d25;
}

.text {
    text-align: center;
    margin-top: 100px;
    /* position: absolute; */
    /* left: 620px;
    top: 200px; */

}

.text h3 {
    font-family: 'Courgette', cursive;
    font-size: 42px;
}

.text h1 {
    text-transform: uppercase;
    font-size: 80px;
    margin: 20px 0;
    font-family: sans-serif;
    letter-spacing: 16px;
}

.text button {
    padding: 11px 28px;
    text-transform: uppercase;
    border-radius: 9px;
    border: 0;
    outline: none;
    background-color: white;
    color: #ec1d25;
    cursor: pointer;
}

.text button:hover {
    color: white;
    background-color: #ec1d25;
}

.section2 {
    width: 100%;
    height: 70vh;
    margin-top: 100px;
}

.main-left {
    max-width: 30%;
    height: 290px;
    text-align: center;
    margin-top: 100px;
}

.main-left h3 {
    font-size: 34px;
    font-family: 'Courgette', cursive;
}

.main-left h1 {
    font-size: 70px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 20px 0;
}

main {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.main-left p {
    font-size: large;
    color: gray;
    margin-bottom: 25px;
}

.main-right{
    max-width: 50%;
}


.section2 img {
    max-width: 34rem;
    height: 22rem;
    border-radius: 12px;
}

.main-left button {
    padding: 12px;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    outline: none;
}

.contain-button {
    max-width: 130px;
    height: 30px;
    position: absolute;
    /* left: 348px; */
}

.contain-button:hover * {
    color: #ec1d25;
    cursor: pointer;
}

.section3 {
    margin-top: 90px;
    max-width: 100%;
    height: 70vh;
    background-color: white;
}

.section3-image {
    max-width: 100%;
    height: 60vh;
    background-image: url("./bg-intro-01.jpg.webp");
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

.section3-image p {
    font-family: 'Courgette', cursive;
    font-size: 28px;
    color: #ec1d25;
    top: 100px;
    position: absolute;
    left: 600px;
}

.section3-image h3 {
    font-size: 60px;
    color: white;
    letter-spacing: 15px;
    font-family: sans-serif;
    position: absolute;
    top: 150px;
    left: 400px;
}

.section4 {
    max-width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
}

.section4 p {
    padding: 12px 0;
    max-width: 60%;
}

.romantic {
    height: 60%;
}

.section4 img {
    max-width: 65%;
    height: 15rem;
    object-fit: cover;
}


.food {
    height: 60%;
}

.love {
    height: 60%;
}

.section4 button {
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    border: 0;
}

.button:hover {
    color: #ec1d25;
}
.button button:hover {
    color: #ec1d25;
}




@media (max-width: 1185px) {
    .text {
        left: 20rem;
    }
}

@media (max-width: 785px) {
    .text {
        left: 12rem;
    }
}

@media (max-width: 488px) {
    .text {
        left: 6.5rem;
    }
}

@media (max-width: 341px) {
    .text {
        left: 1rem;
    }
}

@media (max-width: 587px) {
    .text h3 {
        font-size: 30px;
    }
}

@media (max-width: 587px) {
    .text h1 {
        font-size: 50px;
    }
}

@media (max-width: 1287px) {
    .text h1 {
        font-size: 40px;
    }
}


@media (max-width: 775px) {
    .main-left h1{
        font-size: 3rem;
    }
}
@media (max-width: 375px) {
    .main-left h1{
        font-size: 2.2rem;
    }
}
@media (max-width: 375px) {
    .main-left{
        margin-bottom: 60px;
    }
}
@media (max-width: 475px) {
    .main-left {
        margin-left: 2.4rem;  

    }
}


@media (max-width: 775px) {
    .main-right{
        display: block;
    }
}
@media (max-width: 530px) {
    .section2{
        max-width: 500px;
        left: 1rem;
    }
}



@media (max-width: 928px) {
    .section3 p{
        left: 15rem;
    }
}
@media (max-width: 928px) {
    .section3 h3{
        left: 7rem;
    }
}
@media (max-width: 460px) {
    .section3 h3{
        left: 2rem;
        font-size: 3rem;
    }
}
@media (max-width: 460px) {
    .section3 p{
        left: 7rem;
    }
}


@media (max-width: 785px) {
    .section4 img{
        max-width: 100%;
        object-fit: cover;
        gap: 40px;
    }
}