@import "./base/_reset.css";
@import "./abstracts/mixins";
@import "./abstracts/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;

    .parent {
        padding-top: 20px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        gap: 3rem;

        .left {
            width: 55%;

            .shopping {
                width: 100%;

                .content1 {
                    border-bottom: 2px solid #D0CFCF;
                    font-size: 1.4rem;
                    padding-bottom: 20px;
                    font-weight: 600;
                }

                .content2 {
                    padding-top: 20px;
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            }

            .carts {
                width: 97%;
                padding-top: 50px;

                .cart {
                    width: 100%;
                    border-radius: 12px;
                    box-shadow: 1px 1px 15px black;
                }


                .cart-child {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 12px;
                    padding: 5px;
                    margin: 20px 0;

                    .child-text {
                        p {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }

        .right {
            width: 28%;
            background-color: #565ABB;
            color: white;
            border-bottom: 1px solid #5F65C3;
            border-radius: 14px;

            .right-card {
                display: flex;
                align-items: center;
                padding: 14px 0;
                justify-content: space-between;

                h4 {
                    font-size: 1.4rem;
                    color: white;
                }
            }

            .img-1 {
                width: 100%;
                gap: 1rem;
                display: flex;
                padding-bottom: 1.4rem;
            }

            .img-1 img {
                width: 100%;
            }

            form {
                width: 100%;
                padding-bottom: 8px;

                .name {
                    width: 80%;
                    margin: 0 auto;
                    padding-top: 1rem;
                }

                .date {
                    width: 80%;
                    margin: 0 auto;
                    padding-top: 1rem;
                }

                .ex-date {
                    padding-right: 8px;
                    width: 50%;
                }

                .cvv {
                    width: 100%;

                    input {
                        width: 100%;
                    }
                }

                input {
                    width: 100%;
                    padding: 8px;
                    border-radius: 8px;
                    border: 0;
                    outline: none;
                    background-color: #979de7;

                }
            }

            .top-text-parent {
                width: 80%;
                padding-top: 30px;
                margin: 0 auto;

                .top-text {
                    padding: 2px 0;
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-size: 1.1rem;
                    }

                    span {
                        font-size: 1.1rem;
                    }
                }
            }

            .button {
                width: 80%;
                padding-top: 27px;
                padding-bottom: 30px;
                margin: 0 auto;

                button {
                    display: flex;
                    background-color: #4DE1C1;
                    padding: 12px 9px;
                    justify-content: space-between;
                    width: 100%;
                    border: 0;
                    color: white;
                    border-radius: 8px;
                    cursor: pointer;

                    p {
                        font-size: 1.1rem;
                    }

                    span {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

@media (max-width:1072px) {
    .container {
        .parent {
            flex-direction: column;

            .left {
                width: 100%;
            }

            .right {
                width: 100%;
            }
        }
    }
}

@media (max-width:428px) {
    .carts .cart-child{
        flex-wrap: wrap;
        // flex-direction: column;
    }
}